<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}SELLERMATH Testaufgabe{% endblock title %}</title>
<meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center
      justify-content-lg-start">
      <a class="navbar-brand" href="{% url 'report_upload' %}"><strong>SELLERMATH Testaufgabe</strong></a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      </ul>
      <div class="text-end">
        <a href="{% url 'database_two_columns_view_sorted_by_address' %}" class="btn btn-outline-primary me-2">Datenbank-Auszug</a>
        <!-- IF WANTED <a href="{% url 'database_complete_view' %}" class="btn btn-outline-primary me-2">Komplette Datenbank</a>-->
      </div>
    </div>
  </div>
</header>

<main>
  {% block content %}
  {% endblock content %}
</main>
</div>

<!-- Bootstrap JavaScript Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>