<!--templates/database_complete_view.html-->
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 
'ticket/static/css/screen.css' %}" />
    </head>
    <body>
            {% render_table objs %}
    </body>
</html>
{% endblock content %}