<!--templates/database_two_columns_view_sorted_by_price.html-->
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 
'ticket/static/css/screen.css' %}" />
    </head>
    <body>
        <table class="center">
            <tr>
                <td><h2><a href="{% url 'database_two_columns_view_sorted_by_address' %}" class="btn btn-outline-primary me-2">Sort by Address</a></h2></td>
                <td><h2><a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a></h2></td>                
                <td><h2><a href="{% url 'database_two_columns_view_sorted_by_price' %}" class="btn btn-outline-primary me-2">Sort by Price</a></h2></td>
            </tr>
            <tr>
                <td><h2>Shipping Address ZIP</h2></td>
                <td><h2></h2></td>
                <td><h2>Total Item Price</h2></td>
            </tr>
            {% for object in objs%}
            <tr>
                <td>{{ object.shipping_address_zip }}</td>
                <td></td>                
                <td>{{ object.total_item_price }}</td>
            </tr>
            {% endfor%}
        </table>

    </body>
</html>
{% endblock content %}