<!--templates/report_upload.html-->
{% extends "base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><input type="file" name="file"></p>
        <p><button type="submit">Hochladen</button> </p> 
    </form>
    {% endif%}
{% endblock content %}